body{
  background-color:#0c0032;
}
.App{
  background-color: #b61c24;
  min-height:500px;
  width: 400px;
  margin: 40px auto;
}

#todolists input{
  background-color: rgb(211, 208, 16);
  border: 0; 
  color: #fff;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#todolists input::placeholder{
  color: rgba(250, 132, 132, 0.5);
}
#todolists input:focus{
  outline: none;
}
#todolists button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color:rgba(202, 156, 24, 1); 
  cursor: pointer;
}
#todolists button:focus{
  outline: none;
}